/obj
/bin
/KindomDataAPIServer/obj
/Tet.GeoSymbol/obj
/Tet.GeoSymbol/bin
/.vs
/.vs/KindomDataAPIServer/FileContentIndex
/.vs/KindomDataAPIServer/v17
/docs
/Documentation
/KindomDataAPIServer/.vs/KindomDataAPIServer/CopilotIndices
/KindomDataAPIServer/.vs/KindomDataAPIServer/FileContentIndex
/KindomDataAPIServer/.vs/KindomDataAPIServer/v17
/KindomDataAPIServer/.vs/KindomDataAPIServer/CopilotIndices/17.14.1577.30250/CodeChunks.db
